@font-face {
    font-family: mainfont;
    src: url('../fonts/GothamNarrow-Book.otf');
}

.radiobuttons {
  margin-right: 8px;
  margin-bottom: 8px;
}

.simple-list button{
  margin-right: 1em;
  margin-top: 0.7em;
}
.info-box{
  height: 100px;
  text-align: center;
}
.mapstates {
  fill: #ccc;
  stroke: #000;
}

.bar{
  stroke: #000;
  fill: #fff;
}

.highlight{
  fill: #f00;
}

.list-sect{
  height: 400px;
  max-height: 400px;
  overflow: scroll;
}

.histomap-sect{
  min-height: 350px;
}

.fullw{
  width: 100%
}

.fullh{
  height: 400px;
}

select{
  font-size: 1.2em;
  border: dashed 1px black;
}

.nopadmargin{
  margin: 0px;
  padding: 0px;
}

.greyed-out{
  fill: #000;
}

.instructs{
  font-size: 1.2em;
  text-align: center;
}

.map-message{
  font-size: 2em;
  text-align: center;
  min-height: 2em;
  text-decoration: underline;
}

.dropdown{
  text-align: center;
}

body{
  font-family: mainfont;
}